@font-face {
    font-family: norse;
    src: url(img/Norse-Bold.otf);
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
    background-color: #000;
}
.container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    background-color: #ffffff;
   
}
.logo{
    font-family: norse;
    font-size: 5rem;
    align-items: center;
    display: flex;
    z-index: 1;
}
.logo img{
    width: 80px;
}

.left{
    flex: 4;
    background-image: url(img/bg.jpg);
    background-size:cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}
.overlay{
     background-color: rgba(36, 35, 41, 0.4);
     position: absolute;
     width: 100%;
     height: 15%;
     top: 50;
     left: 0;
} 
.credits{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
} 
.credits p{
    font-size: 0.80rem;
}
.credits a{
    color: #fff;
    transition: 0.5s;
}
.credits a:hover{
    color: #000;
    
}
.right{
   flex: 6;
   font-size: 1.3rem;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;    
   height: 100vh;
}
p{
    margin-left: 20px;
    padding-left: 10px;
    font-size: 1.5rem;
    width: 85%;
}

form{
     width: 90%;
     box-shadow: 0px 6px 11px -4px rgba(0,0,0,0.82);
     font-size: 1rem;
     padding: 0 40px;
}
.form-row {
    display: flex;
    margin-bottom:55px;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    
    
}
.form-group{
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
    max-width: 280px;
    min-width: 200px;
    margin: 0 50px 0 0 ;
}
.form-row label{
    font-size: 0.90rem;
    font-weight: 600;
}
.form-row input{
    padding-left: 10px;
    height: 25px;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid #E5E7EB;
}
.form-row input:focus{
    border-color: rgb(0, 0, 161);
    box-shadow:  0px 6px 11px -4px rgba(44, 43, 43, 0.82);
    outline: none;
}
.form-row input[type="password"]:invalid{
    border-color: red
}
.create-acc{
    margin: 50px 40px;
}
.createAcc{
    height: 55px;
    width: 30%;
    min-width: 200px;
    background-color: #b4906a;
    border-radius: 5px;
    color: #000000;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    transition: 0.2s;
}
.createAcc:hover{
    background-color: #3b2d1e;
    color: #fff;
}
.log{
    font-size: 1.2rem;
    margin-left: 0;
    padding: 0;
    margin-bottom: 50px;
}
.log a{
    text-decoration: none;
    color: #b4906a;
    font-weight: 600;
    transition: .2s;
    
}
.log a:hover{
    color: #3b2d1e;
}


@media only screen and (min-width: 1441px) {
    body{
        margin: 0 auto;
    }
}