*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: 170px 2fr / 300px 2fr ;
}

/*sideBar */
.sidebar{
    background-color:#ffd803;
    grid-area: 1/ 1/ 3/ 2;
    width: clamp(200, 100%, 300px);
}
svg{
    height: 50px;
}
.dash-title{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0 10px 20px;
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.nav-list{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.setting-list{
    padding-top: 20px;
}
.nav-list li, .nav-list a{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    padding: 10px 30px;
    color: black;
    transition: 0.2s;
    
}

.nav-list li:hover{
    background-color: #bae8e8;
    border-right: 2px solid #2b2c34;
    transform: scale(1.03)
}
.nav-list li:active{
    background-color: #e3f6f5;
    font-weight: 500;
    border-right: 5px solid #2b2c34;
}
.nav-list .material-icons{
    font-size: 2rem;
}
.setting-li-start{
    margin-top: 30px;
}
.material-icons{
    padding-right: 10px;
}


/*header*/

.header{
    background-color: #fffffe;
    grid-area: 1/2/2/3;
}
.header-section{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
}
.search-bar{
    grid-column: 1/2;
    margin: 20px 40px 0px;
    display: flex;
    align-items: center;
}
.search-bar .material-icons, .notif-prf .material-icons{
    font-size: 1.8rem;
}
input{
    width: 80%;
    height: 32px;
    padding-left: 10px;
    outline: none;
    border-radius: 50px;
    border: none;
    background-color: #f8f5f2;
    box-shadow: inset 0px -8px 20px -7px rgba(0,0,0,0.30);
}
.material-icons:hover{
    color: #094067;
}
.notif-prf{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    margin: 20px 100px 0 0;
    justify-content: flex-end;
    gap: 30px;
}
.s-prof{
    display: flex;
    align-items: center;
    gap: 30px;
}
.s-prof img{
    border-radius: 100%;
    width: 60px;
    outline: 1px solid black;
}

.profile-section{
    grid-area: 2/ 1/ 3/ 2;
    padding-left: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
.profile-section img{
    width: 80px;
    border-radius: 50%;
    outline: 3px solid black;
}

.buttons{
    grid-area: 2/ 2/ 2/ 3;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 100px;
    
}
.btn{
    width: 100px;
    border-radius: 80px;
    border: none;
    color: #272343;
    background-color: #ffd803;
    font-size: .80rem;
    padding: 5px ;
    font-weight: 600;
    margin: 30px 0;
}
.btn:hover{
    color:#272343;
    font-weight: 700;
    background-color:#bae8e8;
    transform: scale(1.03)

}

/*main*/
.main{
    grid-area: 2/2/3/3 ;
    background-color: #f8f5f2;
    box-shadow: inset 0px 6px 3px 2px rgba(189, 169, 149, 0.3);
    display: grid;
    grid-template: 50% 50% / 70% 30%;
    padding: 20px 20px 0 20px;
    width: 100%;
}

.projects{
    grid-column: 1/2;
    grid-row: 1/3;
}

.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 10px;
}

.card {
    margin-top: 10px;
    width: clamp(250px, 100%, 620px) ;
    height: clamp(200px, 100%, 500px);
    background-color: #fffffe;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.50);
    transform: scale(1.03)
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: #1a365a;
}

.card h3 {
    margin-top: 0;
}

.card-icons {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    font-size: 24px;
    justify-content: flex-end;
}

.card-icons i {
  cursor: pointer;
}


.announcement{
    grid-column: 2/3;
    grid-row: 1/2;
}
.announcement {
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  width: clamp(280px, 100%, 400px);
}



.a-card {
  background-color: #fffffe;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.a-card:hover {
  transform: scale(1.02);
}

.a-card h3 {
  font-size: 0.95rem;
  margin-bottom: 6px;
}

.a-card p {
  font-size: 0.75rem;
  color: #555;
  line-height: 1.4;
}

.a-card hr {
  border: none;
  border-top: 1px solid #ccc;
  opacity: 0.3;
  margin-top: 10px;
}


.trending{
    grid-column: 2/3;
    grid-row: 2/3;
}
.trending{
    margin-top: 10px;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  width: clamp(280px, 100%, 400px);
}



.t-card {
  background-color: #fffffe;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.t-card:hover {
  transform: scale(1.02);
}



.t-card img{
    width: 60px;
    border-radius: 50%;
}
.img-group{
    display: flex;
    gap: 20px;
    row-gap: 10px;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    margin: auto 0 ;
}